@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Poppins:ital,wght@0,600;0,700;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanuman&family=IM+Fell+Double+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------inicio----------------*/

.section-1-bg{
    background-image: url(background.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;

}
aside{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    overflow: hidden;
}
.icon-menu img{
    width: 45px;
    height: 45px;
    margin-top:15px;
    margin-right: 25px;
}
#barra-menu{
    background: #180127;
    width: 0px;
    height: 100vh;
    transition: 0.3s ali;
}
#barra-menu ul li{
    list-style: none;
    padding: 15px;
}
#barra-menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    width: 100%;

}
#barra-menu ul li a:hover{
    border: solid 1px #fff;
    padding: 8px;
    border-radius: 15px;
    background: #431175;
}
.C-icon{
    margin-top: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
}


.C-icon span{
    color: #fbf7f7;
}
.C-icon span:hover{
    transition: 0.2s;
    transform: 0.5s;
    color: #c229aa;
}
.main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 13%;
    flex-wrap: wrap;
}
.main-title h1{
    font-size: 130px;
    color: #fff;
    margin-top: 15%;
    font-family: "Poppins";
    font-weight: bold;
    letter-spacing: 2px;
}
.main-title h2{
    color: #1f3cf5;
    font-size: 35px;
    font-family: "Hanuman";
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 0,25%;
}
.main-title h5{
    color: #fbf7f7;
    font-size: 15px;
    font-family: "Hanuman";
    letter-spacing: 2px;
    font-weight: 200;
}
.main-title button{
    width: 15%;
    margin-top: 40px;
    padding: 8px 5px;
    font-size: 20px;
    background-color: #fcfff6;
    border-radius: 50px;
    color: #0d84ec;
    cursor: pointer;
    transition-duration:  .9s;    
}
.main-title button:hover{
    border: solid 1px #fff;
    transition: 0.7s;
    background: transparent;
}
.numeros{
    display: flex;
    margin-top: 120px;
    color: #fff;
    gap:60px;
    cursor: pointer;
    transition: 0.5s;
 
}
.title h3{
    font-size: 60px;
    margin-top: 15px;
    font-family: "inter";
    font-weight: bold;
}
.title p{
    font-family: "inter";
    font-weight: normal;
}
.title:hover{
    transition: 1.2;
    transform: scale(1.1);
}
@media screen and (max-width: 414px){
    .main-title h1{
        font-size: 40px;
        margin-top: 75%;
        margin-right: 15%;
        
    }
    .main-title h2{
       font-size: 25px;
       margin-right: 15%; 
    }
    .main-title button{
        width: 150px;
    }
    .numeros{
        margin-right: 25%;
        margin-top: 50%;
    }

    
}

/*----------------sobre mim----------------*/


.C-sobre{
    display: flex;
    justify-content: space-around;
    padding: 150px 0px;
    width: 100%;
    flex-wrap: wrap;


}
.image img{
    width: 400px;
    height: auto;
    box-shadow: 4px 4px 4px #858585,4px 4px 4px;
}

.Sobre-mim h1{
    text-align: center;
    font-size: 55px;
    font-family:"Hanuman" ;
    font-weight: bold;
}

.Sobre-mim h4{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: normal;
    font-weight: bold;
    font-family: "Hanuman ";
}

.Sobre-mim span{
    color: #303fe8;
} 
.Sobre-mim p{
    margin-top: 25px;
    font-family: "Lora";
    
}
.Sobre-mim button{
    background-color: #303fe8;
    margin-left: 35%;
    margin-top: 30px;
    padding: 10px 50px;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px;
    transition-duration: .9s;
}
.Sobre-mim button:hover{
    color: #303fe8;
    background: transparent;
    transition: 0.8s;
}

@media screen and (max-width:414px){
    .image img{
        width: 250px;
        height: auto;
    }
    .Sobre-mim p{
       font-size: 12px;
       padding: 15px;
        width: 500px;
        text-align: center;
        
        
    }
}
/*----------------serviços----------------*/

.Container{
    width: 100%;
    background-color: #F3EEEE;
    padding: 50px;

}




.Container h1{
    text-align: center;
    font-size: 70px;
    font-family: "Inria Sans";
    font-weight: bold;
    padding-top: 15%;
}




.Container p{
    text-align: center;
    font-family: "Inria Sans";
    color: #685B5B;
    margin-top: 25px;

} 


.C-card{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    text-align: center;
    flex-wrap: wrap;
}


.Card{
    background-color: #FFFBFB;
    padding: 50px;
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px #858585;

}

.Card img{
    width: 70px;
    height: auto;
}

.C-card-2{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    text-align: center;
    flex-wrap: wrap;
}
.Card h3{
    font-size: 20px;
    font-family: "Inria Sans";
    font-weight: 700;
}
.Card h4{
    font-family: "Inria Sans";
    font-weight: lighter;
    color: #BEB7B7;
    margin-top: 15px;
}

.Card:hover{
    transform: scale(1.1);
    transition-duration: .9s;
}


@media only screen and (max-width: 414px){

    .Card{
        margin-top: 35px;
    }

    .C-card-2{
        margin-top: 35px;
    }
}

/*----------------projetos----------------*/

.C-projetos{
    width: 100%;
    background-color: #fff;
    padding: 85px;
}

.C-projetos h1{
    text-align: center;
    font-size: 75px;
    font-family: "Inria Sans";
    font-weight: bold;
    padding: 14%;
}
.C-projetos p{
    text-align: center;
    font-family: "Inria Sans";
    color: #685B5B;
    font-weight: bold;
    margin-top: 8px;
    
}
.C-projetos a{
    text-align: center;
    font-family: "Inria Sans";
    color: #685B5B;
    font-weight: lighter;
    margin-top: 8px;
}

.img-projetos{
    display: flex;
    justify-content: center;
    gap:70px;
    margin-top: 150px;
    flex-wrap: wrap;
}
.img-projetos img{
    width: 450px;
    height: auto;
    border-radius: auto;
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px #858585;

}
.C-projetos img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    transition-duration: 0.9s;
    border: solid 2px #180127;
    border-radius: 10px;
}
@media screen and (max-width:414px){
    .img-projetos img{
        width: 300px;
        height: auto;
    }
}

/*----------------rodapé----------------*/

.C-rodapé{
    width: 100%;
    background-color: #303fe8;
    padding: 50px;
}
.C-rodapé h1{
    text-align: center;
    color: #fff;
    font-family: "Inria Sans";
    font-weight:lighter ;
}
.C-rodapé form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 50px 14px 15px;
    border-radius: 30px;
    outline: none;
    border: none;
    margin-top: 25px;
}
.C-rodapé form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    background-color: #000106 ;
    color: #fff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    cursor: pointer;
    font-size: 15px;
    width: 150px;
    margin-top: 28px;
    right: 100px;
}

@media screen and (max-width:414px){

.C-rodapé form input:last-child{
    width: 100px;
}
}
